@charset "utf-8";
a,p,img,h1,h2,h3,h5,h4{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.Lunbotu{
	width: 100%;
	height: 250px;
	position: relative;
	left: 0;
	top:0;
	z-index: -999;
}

.Lunbotu a{
	display: block;
	width: 100%;
	height: 250px;
	position: absolute;
	overflow: hidden;
	z-index: -999px;
}
.Lunbotu img{
	width: 100%;
}
.Lunbotu .button{
	display: block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #E4E4E4;
	border-radius: 50%;
	z-index: 1;
}
.Lunbotu .button img{
	display: block;
	width:23px;
	height: 23px;
	opacity: 0.5;
}
.Lunbotu .button:hover img{
	opacity: 1;
}
.Lunbotu .left img{
	position: absolute;
	left:10px;
	top: 13px;
	transform: rotate(180deg);
}
.Lunbotu .reight img{
	position: absolute;
	left:14px;
	top: 13px;
}
.Lunbotu .left{
	position: absolute;
	left: 100px;
	top: 100px;
}
.Lunbotu .reight{
	position: absolute;
	right: 100px;
	top: 100px;
}

.Lunbotu .miaodian{
	list-style: none;
	position: absolute;
	left: 35%;
	top: 210px;
	z-index: 1;
}
.Lunbotu .miaodian li{
	cursor: pointer;
	margin: 10px 10px;
	width: 60px;
	height: 5px;
	background: black ;
	float: left;
}
/* µº∫Ω¿∏ */
nav{
	width: 100%;
	height: 60px;
	text-align: center;
	position: relative;
}
nav p{
	display: inline-block;
	float: left;
	cursor: pointer;
}
nav span{
	display: inline-block;
	height: 60px;
	float: left;
}
nav img{
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 23px;
	margin-left: 10px;
	transition: 0.5s transform;
	transform: rotate(90deg);
	cursor: pointer;
}
nav ul{
	display: none;
	list-style: none;
	border:1px #E4E4E4 solid ;
	padding: 0;
	margin: 0;
	background: white;
}
nav ul li{
	width: 146px;
	height: 24px;
	padding: 8px 16px;
	text-align: center;
	line-height: 24px;
}
.Navshop ul{
	position: absolute;
	left: 30%;
	top:50px;
	z-index: 1;
}
.Navtype ul{
	position: absolute;
	left: 40%;
	top:50px;
	z-index: 1;
}
.Navshunxu ul{
	position: absolute;
	left: 50%;
	top:50px;
	z-index: 1;
}
.Navshop{
	display: inline-block;
	line-height: 60px;
	text-align: center;
	padding-right: 30px;
	font-size: 16px;
	color: black;
}
.Navtype{
	display: inline-block;
	line-height: 60px;
	text-align: center;
	padding-right: 30px;
	font-size: 16px;
	color: black;
}
.Navshunxu{
	display: inline-block;
	line-height: 60px;
	text-align: center;
	padding-right: 30px;
	font-size: 16px;
	color: black;
}
/* …Ã∆∑ */
section{
	width: 100%;
	border-top: 1px #E4E4E4 solid;
}
section div{
	box-sizing: border-box;
	border-right: 1px #E4E4E4 solid;
	border-bottom: 1px #E4E4E4 solid;
	width: 33%;
	height: 530px;
	display: inline-block;
	position: relative;
	left: 0;
	top: 0;
	margin-top: -4px;
}
section div:hover .button {
	display: block;
}
section a{
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background:#F6F6F6;
	padding:10% ;
	position: absolute;
	left: 0;
	top: 0;
}
section a:hover{
	background: #F9F9F9;
}
section a img{
	width: 100%;
	margin-bottom: 50px;
}
section ol{
	list-style: none;
	height: 24px;
	position: absolute;
	right: 40%;
	bottom: 100px;
	font-size: 10px;
	z-index: 1;
}
section ol li{
	float: right;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: black;
	margin-right:10px;
}
section a ul{
	list-style: none;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 10px;
	color: white;
}
section  a ul li{
	float: right;
	background: red;
	margin-right:10px ;
	padding: 5px;
}
section a h1{
	display: block;
	width: 100%;
	text-align: center;
	line-height: 23px;
	padding: 5px 0; 
	font-size: 14px;
	color: black;
	font-weight: 100;
}
section a p{
	width: 100%;
	text-align: center;
	line-height: 23px;
	color: black;
	font-size: 14px;
}
section a p i{
	color: gray;
	font-style: normal;
	text-decoration: line-through;
	padding-right: 10px;
}
section .button{
	display: none;
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #E4E4E4;
	border-radius: 50%;
	z-index: 1;
}
section .button img{
	display: block;
	width:23px;
	height: 23px;
	opacity: 0.5;
}
section .button:hover img{
	opacity: 1;
}
section .left img{
	position: absolute;
	left:10px;
	top: 13px;
	transform: rotate(180deg);
}
section .reight img{
	position: absolute;
	left:14px;
	top: 13px;
}
section .left{
	position: absolute;
	left: 10%;
	top: 38%;
}
section .reight{
	position: absolute;
	right: 10%;
	top: 38%;
}